## Data clean / exploration

In [127]:
import csv
import pandas as pd
import numpy as np

import seaborn as sns

In [128]:
# import data
calendar_all = pd.read_csv('./data/calendar.csv')
listings_all = pd.read_csv('./data/listings.csv')
sentiment_scores = pd.read_csv('./data/scores.csv')
# reviews = pd.read_csv('./data/reviews.csv')

In [129]:
# do a bit of cleaning

# remove cols that only contain (1) unique elem
listings = listings_all
for col in listings_all.columns:
    if len(listings_all[col].unique()) == 1:
        listings = listings.drop(col,axis=1)

In [130]:
listings.head()

list(listings.columns.values)

['id',
 'listing_url',
 'name',
 'summary',
 'space',
 'description',
 'neighborhood_overview',
 'notes',
 'transit',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'smart_location',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'calendar_updated',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'number_of_reviews',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'instant_bookable',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'reviews_per_month']

In [131]:
# Trimmed Frame
trimmed_listings = listings[['id','host_id', 'host_response_rate', 'host_total_listings_count',
                             'host_is_superhost', 'neighbourhood_cleansed', 'property_type', 'room_type', 'accommodates',
                             'guests_included', 'bathrooms', 'bedrooms', 'beds', 'price',
                               'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
                               'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication',
                               'review_scores_location', 'review_scores_value']]

In [132]:
# populate review NA's with average
pd.options.mode.chained_assignment = None 
trimmed_listings['review_scores_rating'] = trimmed_listings.review_scores_rating.fillna(trimmed_listings.review_scores_rating.median())
trimmed_listings['review_scores_accuracy'] = trimmed_listings.review_scores_accuracy.fillna(trimmed_listings.review_scores_accuracy.median())
trimmed_listings['review_scores_cleanliness'] = trimmed_listings.review_scores_cleanliness.fillna(trimmed_listings.review_scores_cleanliness.median())
trimmed_listings['review_scores_checkin'] = trimmed_listings.review_scores_checkin.fillna(trimmed_listings.review_scores_checkin.median())
trimmed_listings['review_scores_communication'] = trimmed_listings.review_scores_communication.fillna(trimmed_listings.review_scores_communication.median())
trimmed_listings['review_scores_location'] = trimmed_listings.review_scores_location.fillna(trimmed_listings.review_scores_location.median())
trimmed_listings['review_scores_value'] = trimmed_listings.review_scores_value.fillna(trimmed_listings.review_scores_value.median())

In [133]:
# Add sentiment scores column
# Used Microsoft Azure Sentiment Text Analysis API through Postman requests to identify the sentiment score 
#  of listing descriptions from 1 - 100
trimmed_listings = trimmed_listings.join(sentiment_scores['score'], how="inner")

# rename to something better
trimmed_listings.rename(index=str, columns={"neighbourhood_cleansed": "neighbourhood"}, inplace=True)

In [134]:
trimmed_listings['price'] = trimmed_listings['price'].replace('[\$\,\.]', '', regex=True).astype(int) / 100

In [135]:
trimmed_listings['host_response_rate'] = trimmed_listings['host_response_rate'].str.replace('%', '')
trimmed_listings['host_response_rate'] = trimmed_listings['host_response_rate'].fillna('-1')
trimmed_listings['host_response_rate'] = trimmed_listings['host_response_rate'].astype(int)
trimmed_listings['host_response_rate'] = trimmed_listings['host_response_rate'].replace(-1, np.nan)
trimmed_listings['host_response_rate'] = trimmed_listings.host_response_rate.fillna(trimmed_listings.host_response_rate.mean())

In [141]:
# remove infrequent property types
trimmed_listings = trimmed_listings[trimmed_listings.property_type.isin(['Apartment', 'House' , 'Condominium',
       'Townhouse', 'Loft', 'Bed & Breakfast'])]

array(['Apartment', 'House', 'Condominium', 'Townhouse', 'Loft',
       'Bed & Breakfast'], dtype=object)

In [143]:
trimmed_listings = pd.get_dummies(trimmed_listings)

In [144]:
trimmed_listings.to_csv("./data/cleaned-listings-data")

,id,host_id,host_response_rate,host_total_listings_count,accommodates,guests_included,bathrooms,bedrooms,beds,price,...,neighbourhood_Yesler Terrace,property_type_Apartment,property_type_Bed & Breakfast,property_type_Condominium,property_type_House,property_type_Loft,property_type_Townhouse,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
0,241032,956883,96.000000,3.0,4,2,1.0,1.0,1.0,85.0,...,0,1,0,0,0,0,0,1,0,0
1,953595,5177328,98.000000,6.0,4,1,1.0,1.0,1.0,150.0,...,0,1,0,0,0,0,0,1,0,0
2,3308979,16708587,67.000000,2.0,11,10,4.5,5.0,7.0,975.0,...,0,0,0,0,1,0,0,1,0,0
3,7421966,9851441,94.886798,1.0,3,1,1.0,0.0,2.0,100.0,...,0,1,0,0,0,0,0,1,0,0
4,278830,1452570,100.000000,2.0,6,6,2.0,3.0,3.0,450.0,...,0,0,0,0,1,0,0,1,0,0
5,5956968,326758,94.886798,1.0,2,1,1.0,1.0,1.0,120.0,...,0,0,0,0,1,0,0,0,1,0
6,1909058,2497928,100.000000,1.0,2,1,1.0,1.0,1.0,80.0,...,0,0,0,0,1,0,0,0,1,0
8,4948745,2166277,94.886798,1.0,2,1,1.0,1.0,1.0,90.0,...,0,1,0,0,0,0,0,0,1,0
9,2493658,5177328,98.000000,6.0,4,1,1.0,1.0,1.0,150.0,...,0,1,0,0,0,0,0,1,0,0
10,175576,239585,100.000000,1.0,2,2,1.0,1.0,1.0,95.0,...,0,0,0,0,1,0,0,1,0,0
11,4454295,4606439,100.000000,1.0,2,1,1.0,1.0,1.0,99.0,...,0,0,0,0,1,0,0,1,0,0
12,3883392,19932967,100.000000,1.0,4,1,1.0,2.0,3.0,245.0,...,0,1,0,0,0,0,0,1,0,0
13,8889257,25899989,100.000000,1.0,5,4,1.0,2.0,3.0,165.0,...,0,0,0,0,1,0,0,1,0,0
14,5680462,22372266,100.000000,1.0,16,8,3.5,6.0,15.0,461.0,...,0,0,0,0,1,0,0,1,0,0
15,8988178,2983711,100.000000,1.0,5,1,1.0,2.0,2.0,109.0,...,0,0,0,0,1,0,0,1,0,0
16,3245876,9465817,100.000000,1.0,2,1,1.0,1.0,1.0,66.0,...,0,1,0,0,0,0,0,0,1,0
17,4933447,25417834,100.000000,1.0,2,1,1.0,1.0,1.0,99.0,...,0,0,0,0,1,0,0,0,1,0
18,7735464,6170760,94.886798,1.0,2,1,2.0,1.0,1.0,200.0,...,0,1,0,0,0,0,0,0,1,0
19,6291829,32713558,94.886798,1.0,10,1,3.5,5.0,5.0,700.0,...,0,0,0,0,1,0,0,1,0,0
20,9218403,14100483,100.000000,1.0,1,1,1.0,1.0,1.0,110.0,...,0,0,0,1,0,0,0,1,0,0
21,4125779,21401856,100.000000,1.0,3,1,1.5,1.0,2.0,99.0,...,0,0,0,0,1,0,0,0,1,0
22,8942678,46675077,100.000000,1.0,8,1,2.0,4.0,4.0,450.0,...,0,0,0,0,1,0,0,1,0,0
23,10106055,51860756,94.886798,1.0,2,1,1.0,1.0,1.0,75.0,...,0,0,0,0,1,0,0,0,1,0
24,6362362,33147763,94.886798,1.0,5,1,2.5,3.0,3.0,600.0,...,0,0,0,0,1,0,0,1,0,0
25,3544550,16708587,67.000000,2.0,8,6,2.5,3.0,5.0,450.0,...,0,0,0,0,1,0,0,1,0,0
26,9025039,68155,100.000000,1.0,5,1,1.0,2.0,3.0,150.0,...,0,0,0,0,1,0,0,1,0,0
28,8859380,3792761,100.000000,5.0,6,1,2.0,3.0,3.0,300.0,...,0,1,0,0,0,0,0,1,0,0
29,4520099,6184895,71.000000,1.0,3,3,1.0,1.0,2.0,80.0,...,0,1,0,0,0,0,0,1,0,0
30,2481869,5177328,98.000000,6.0,4,1,1.0,1.0,1.0,175.0,...,0,1,0,0,0,0,0,1,0,0
31,1110749,5325329,97.000000,9.0,6,6,1.5,3.0,3.0,325.0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3787,2494157,5506237,100.000000,3.0,6,1,2.5,3.0,4.0,260.0,...,0,0,0,0,1,0,0,1,0,0
3788,7745196,398005,100.000000,1.0,4,2,1.0,1.0,2.0,115.0,...,0,1,0,0,0,0,0,1,0,0
3789,4645405,13771267,100.000000,2.0,2,2,1.0,1.0,1.0,60.0,...,0,0,0,0,1,0,0,0,1,0
3790,2755730,3752499,100.000000,1.0,6,4,1.0,2.0,3.0,175.0,...,0,1,0,0,0,0,0,1,0,0
3791,7949448,26392625,100.000000,1.0,2,1,1.0,1.0,1.0,85.0,...,0,0,0,0,1,0,0,0,1,0
3792,9288840,15784748,100.000000,1.0,4,1,1.0,1.0,1.0,109.0,...,0,1,0,0,0,0,0,1,0,0
3793,3312406,16727906,100.000000,1.0,4,4,1.0,0.0,2.0,109.0,...,0,0,0,0,1,0,0,1,0,0
3794,6621924,30049045,80.000000,1.0,2,2,1.0,1.0,1.0,107.0,...,0,1,0,0,0,0,0,1,0,0
3795,5673552,28007250,100.000000,1.0,4,1,1.0,0.0,1.0,200.0,...,0,0,0,0,0,1,0,1,0,0
3797,10118341,1237248,100.000000,1.0,2,2,1.0,0.0,1.0,70.0,...,0,0,0,0,1,0,0,1,0,0
3798,2614387,1123549,100.000000,2.0,2,2,1.0,1.0,1.0,77.0,...,0,0,0,0,1,0,0,0,1,0
3799,7735100,7227474,25.000000,1.0,2,1,1.0,1.0,1.0,65.0,...,0,0,0,0,0,0,1,0,1,0
3800,5482204,28432113,94.886798,1.0,2,1,1.5,1.0,1.0,185.0,...,0,0,1,0,0,0,0,0,1,0
3801,4524575,20853099,100.000000,1.0,2,2,1.0,1.0,1.0,108.0,...,0,1,0,0,0,0,0,1,0,0
3802,8562314,18774473,94.886798,1.0,4,1,1.0,2.0,2.0,200.0,...,0,0,0,0,1,0,0,1,0,0
3803,9698202,5325329,97.000000,9.0,16,12,3.5,4.0,10.0,250.0,...,0,0,0,0,1,0,0,1,0,0
3804,7178490,566102,100.000000,1.0,2,1,1.0,0.0,1.0,125.0,...,0,1,0,0,0,0,0,1,0,0
3805,8054902,4071088,100.000000,1.0,6,4,1.0,2.0,2.0,100.0,...,0,1,0,0,0,0,0,1,0,0
3806,5458027,6963318,100.000000,2.0,4,1,1.0,2.0,2.0,160.0,...,0,0,0,0,1,0,0,1,0,0
3807,4940491,466499,100.000000,1.0,2,2,1.0,0.0,1.0,109.0,...,0,1,0,0,0,0,0,1,0,0
3808,1844791,7964921,100.000000,2.0,6,4,2.0,3.0,3.0,175.0,...,0,0,0,0,1,0,0,1,0,0
3809,6120046,31752892,100.000000,1.0,4,2,1.0,1.0,1.0,120.0,...,0,1,0,0,0,0,0,1,0,0
3810,262764,1379138,100.000000,1.0,5,4,1.0,2.0,3.0,154.0,...,0,0,0,0,1,0,0,1,0,0
3811,8578490,11847918,100.000000,1.0,3,1,1.0,1.0,1.0,65.0,...,0,1,0,0,0,0,0,1,0,0
3812,3383329,3443346,100.000000,3.0,4,2,1.0,1.0,2.0,95.0,...,0,1,0,0,0,0,0,1,0,0
3813,8101950,31148752,99.000000,354.0,6,1,2.0,3.0,3.0,359.0,...,0,0,0,0,1,0,0,1,0,0
3814,8902327,46566046,100.000000,1.0,4,3,1.0,1.0,2.0,79.0,...,0,1,0,0,0,0,0,1,0,0
3815,10267360,52791370,94.886798,1.0,2,2,1.0,1.0,1.0,93.0,...,0,0,0,0,1,0,0,1,0,0
3816,9604740,25522052,100.000000,1.0,2,1,1.0,0.0,1.0,99.0,...,0,0,0,1,0,0,0,1,0,0
3817,10208623,14703116,100.000000,1.0,3,1,1.5,2.0,1.0,87.0,...,0,1,0,0,0,0,0,1,0,0